@use "../variables/theme";

@mixin up($breakpoint) {
  @if map-has-key(theme.$breakpoints, $breakpoint) {
    $breakpoint-value: map-get(theme.$breakpoints, $breakpoint);

    @media (min-width: $breakpoint-value) {
      @content;
    }
  }
}

@mixin down($breakpoint) {
  @if map-has-key(theme.$breakpoints, $breakpoint) {
    $breakpoint-value: map-get(theme.$breakpoints, $breakpoint);

    @media (max-width: ($breakpoint-value - 1)) {
      @content;
    }
  }
}
