// Import fonts like such...
//@font-face {
//  font-family: 'OxygenRegular';
//  src: url('~@/assets/fonts/Oxygen-Regular.ttf') format('truetype');
//  // Or...
//  src: url('../../assets/fonts/Oxygen-Regular.ttf');
//}
