@mixin flex-left {
  display: flex;
  justify-content: flex-start;
}

@mixin flex-right {
  display: flex;
  justify-content: flex-end;
}

@mixin flex-center {
  display: flex;
  align-items: center;
  justify-content: center;
}
