@use "sass:map";
@use "~@/scss/variables/theme";

@font-face {
  font-family: "OxygenLight";
  src: url("~@/assets/fonts/Oxygen-Light.ttf") format("truetype");
}

@font-face {
  font-family: "OxygenRegular";
  src: url("~@/assets/fonts/Oxygen-Regular.ttf") format("truetype");
}

@font-face {
  font-family: "OxygenBold";
  src: url("~@/assets/fonts/Oxygen-Bold.ttf") format("truetype");
}

body {
  font-family: "OxygenRegular", sans-serif !important;
  background-color: map.get(theme.$palette, "background");
  margin: 0;
}
